@model IReadyonlineexam.Models.Course_master

@{
    ViewBag.Title = "Deletecourse";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h4>Delete Category</h4>

<h4>Are you sure you want to delete this?</h4>


    <div id="rootwizard" class="wizard wizard-full-width">

        <form action="#" method="POST" name="wizard_form">

            <div class="wizard-content tab-content">

                <div class="tab-pane active" id="tab1">
                    @using (Html.BeginForm("Deletecourse", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Course_ID)
                        <div class="row">

                            <div class="col-md-6 offset-md-3">
                                <p class="desc m-b-20"></p>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                               
                                <div class="form-group">
                                    <label class="control-label">Course Image<span class="text-danger">*</span></label>
                                    <img src="~/Images/CourseImages/@Model.Imageurl" style="height:100px;width:200px" alt="Course" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Price<span class="text-danger">*</span></label>
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Course Description<span class="text-danger">*</span></label>
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Delete" class="btn btn-primary" />
                                    </div>
                                </div>

                            </div>

                        </div>

                    }

                    <div>
                        @Html.ActionLink("Back to List", "DynCrc")
                    </div>
                </div>
            </div>

        </form>

    </div>
