@model IReadyonlineexam.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Account/Shared/_AccountLayoutPage.cshtml";

}

<!-- BEGIN login -->
<div class="login">
    <!-- BEGIN login-cover -->
    <div class="login-cover"></div>
    <!-- END login-cover -->
    <!-- BEGIN login-content -->

    <div class="login-content">
        <!-- BEGIN login-brand -->

        <div class="login-brand">
            <a href="/"><span class="logo"><i class="ti-infinite"></i></span> IReadyToday</a>
        </div>
        <!-- END login-brand -->

        <section id="loginForm" name="login_form">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
              
                        <h4>  @ViewBag.Title.</h4>
                  
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @*<label class="control-label">Email</label>*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , @placeholder="Enter email adress" })
                        </div>
              
                        <input type="submit" class="btn btn-primary" value="Email Link" />
                   
             
            }
        </section>

    </div>
</div>

@*<center style="margin-top:150px;">
        <div class="badge alert-warning">

            <h2>@ViewBag.Title.</h2>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Enter your email.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-purple" value="Email Link" />
                    </div>
                </div>
            }


        </div>
    </center>*@

