@model IReadyonlineexam.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Account/Shared/_AccountLayoutPage.cshtml";
}

<!-- BEGIN login -->
<div class="login">
    <!-- BEGIN login-cover -->
    <div class="login-cover"></div>
    <!-- END login-cover -->
    <!-- BEGIN login-content -->

    <div class="login-content">
        <!-- BEGIN login-brand -->

        <div class="login-brand">
            <a href="#"><span class="logo">  <img src="~/Content/img/icon.jpg" alt="" /></span> IReadyToday</a>
        </div>
        <!-- END login-brand -->
        <!-- BEGIN login-desc -->
        <div class="login-desc">
            Change Password.
        </div>
        <!-- END ChangePassword-desc -->

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label ">Old Password</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="control-label ">New Password</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="control-label ">Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <input type="submit" value="Change password" class="btn btn-primary" />
        }

    </div>
    <!-- END login-content -->
</div>
<!-- END login -->
<!-- BEGIN btn-scroll-top -->
<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="ti-arrow-up"></i></a>


